{% extends "Messages/modal_template.html" %}
{% block id %}naming_info{% endblock %}
{% block title %}
    miRNA candidates naming
{% endblock %}
{% block text %}


    <p>
        Unless specified otherwise, miRgFree will detect the closest species in MirGeneDB using
        the species detection functionality introduced in miRNAqc. microRNA sequences in MirGeneDB will be used to detect if the
        predicted novel microRNAs are known in other species or at least if they belong to a known microRNA family.
    </p>
    <p>
        Names will be assigned as follows:
    <ul>
        <li>
            First, candidates that match perfectly a known microRNA sequence from any of the specified reference species
            will receive that name.
        </li>
        <li>
            Second, perfect matches from other reference sequences in MirGeneDB will be named accordingly
        </li>
        <li>
            If a sequence match is not found, a seed match will be attempted. All microRNAs
            from the whole database with the same seed sequence are considered, assigning in this order if a seed match is found:
            <ul>
                  <li>Name of that miRNA in any of the reference species</li>
                  <li>The species with overall lowest number of mismatches between the candidate and mature sequences </li>
            </ul>
        </li>
    </ul>
    </p>
{% endblock %}
