{% extends "Messages/modal_template.html" %}
{% block id %}genecodis{% endblock %}
{% block title %}
    Send top expressed miRNAs to GeneCodis for co-annotation analysis
{% endblock %}
{% block text %}

    <form class="form-inline">
    <div class="row">
        <div class="col-lg-4">
            <div class="control-group"> <label class="control-label">
                    Select top: </label>
                <div class="controls">
                    <select name="top_GC" id="top_GC" class="form-control select">
                    <option value="5" selected>5 miRNAs</option>
                    <option value="10">10 miRNAs</option>
                    <option value="25">25 miRNAs</option>
                    <option value="50">50 miRNAs</option>
                    <option value="100">100 miRNAs</option>

    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <br>
            <button type="button" class="btn btn-success" id="GC_button">Send to GeneCodis</button>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
    </form>

    <script>
        $("#GC_button").click(function(){
            {#alert($("#top_GC").val());#}
            $.ajax({
        url: '{% url "ajax_GC" %}',
        data: {
            "jobID" : "{{ id }}",
            "top" : $("#top_GC").val(),
        },
        dataType: 'json',
        success: function (data) {
            if (data.jobID){
                window.open(data.url, '_blank');
            }
            },
        });
            });
    </script>

{% endblock %}
