{% extends "Messages/modal_template.html" %}
{% block id %}HWTC_bench{% endblock %}
{% block title %}
    How to Cite sRNAbench
{% endblock %}
{% block text %}
    <div class="alert alert-info">
        <h4>If you use the sRNAbench webserver, please cite our latest publication:</h4>
        <ul>
            <li><a target="_blank" href="https://doi.org/10.1093/nar/gkac363" >sRNAbench and sRNAtoolbox 2022 update: accurate miRNA and sncRNA profiling for model and non-model organisms</a></li>
        </ul>

        <h4>Please also consider citing:</h4>
        <ul>
            <li><a target="_blank" href="https://doi.org/10.1093/nar/gkz415" >sRNAbench and sRNAtoolbox 2019: intuitive fast small RNA profiling and differential expression</a></li>
            <li><a target="_blank" href="http://genomebiology.com/2009/10/3/r25">Ultrafast and memory-efficient alignment of short DNA sequences to the human genome</a></li>
            <li><a target="_blank" href="https://doi.org/10.1093/nar/gkab1101" >MirGeneDB 2.1: toward a complete sampling of all major animal phyla</a></li>
            <li><a target="_blank" href="http://nar.oxfordjournals.org/content/39/suppl_1/D152.full" >miRBase: integrating microRNA annotation and deep-sequencing data.</a></li>
        </ul>

    </div>
{% endblock %}
