{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
            <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127320439-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127320439-1');
    </script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>sRNAtoolbox</title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"  >

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/plugins/metisMenu/metisMenu.min.css' %}" rel="stylesheet" >

    <!-- Timeline CSS -->
    <link href="{% static 'css/plugins/timeline.css' %}" rel="stylesheet" >

    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet"   >

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/plugins/morris.css' %} " rel="stylesheet"  >

    <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css">


    <!-- jQuery Version 1.11.0 -->


    <script src="{% static 'js/jquery-1.11.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/plugins/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>



    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
{#    <link href="{% static 'fontawesome-free-5.14.0/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">#}
    <link href="{% static 'fontawesome-free-5.14.0/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media sRNAfuncTerms -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{#   Maintenance technical problem message#}
{#    <p class="alert alert-danger" style="font-size:28px;"> <br> We are currently experiencing technical difficulties. <br>#}
{#        While we solve them, new jobs may not run or may be very slow but already finished jobs are still available.#}
{#        Sorry for the inconvinience, we expect to be back shortly.#}
{#        <br> </p>#}
{#    <p class="alert alert-danger" style="font-size:28px;"> <br> Temporary server down <br>#}
{#        Access to sRNAtoolbox website will be down from 8 to 12 (GMT +2) on July the 15th due to maintenance.#}
{#        All jobs will continue to be carried out as normal once the service is restarted, sorry for the incovinience.#}
{#        <br> </p>#}

            {% if user_message %}

                <p class="alert alert-danger" style="font-size:28px;"> <br>
                {{ user_message }}
                </p>


            {% endif %}

    {% block header %}{% endblock %}




</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ settings.SUB_SITE }}">sRNAtoolbox</a><p class="text-danger"></p>
            </div>
            <!-- /.navbar-header -->


            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <form action="{{ settings.SUB_SITE }}/search" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="input-group custom-search-form">

                                    <input type="text" name="job_id" class="form-control" placeholder="Search Results by ID">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>

                </div>
                </form>
                <!-- /input-group -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gears fa-fw"></i> Tools<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ settings.SUB_SITE }}/srnabench/">sRNAbench</a>
                                </li>

                                <li>
                                    <a href="{{ settings.SUB_SITE }}/multiupload/">sRNAbench (batch mode)</a>
                                </li>

                                <li>
                                    <a href="{{ settings.SUB_SITE }}/srnade/">sRNAde</a>
                                </li>

                                {% comment %}                                <li>
                                    <a href="/srnagfree">sRNAgFree</a>
                                </li>
                                {% endcomment %}

                                <li>
                                    <a href="{{ settings.SUB_SITE }}/srnablast/">sRNAblast</a>
{#                                    <a href="https://bioinfo5.ugr.es/srnatoolbox/srnablast/">sRNAblast</a>#}
                                </li>

{#                                <li>#}
{#                                    <a href="{{ settings.SUB_SITE }}/srnablast">sRNAblast</a>#}
{#                                </li>#}

                                <li>
                                    <a href="{{ settings.SUB_SITE }}/pmirconstarget/">plantconstarget</a>
                                </li>
                                <li>
                                    <a href="{{ settings.SUB_SITE }}/amirconstarget/">animalconstarget</a>
                                </li>
{#                                <li>#}
{#                                    <a href="{{ settings.SUB_SITE }}/pmirconstarget">plantconstarget</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="{{ settings.SUB_SITE }}/amirconstarget">animalconstarget</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="{{ settings.SUB_SITE }}/srnajbrowser">JBrowser</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="{{ settings.SUB_SITE }}/srnafuncterms">sRNAfuncTerms</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="{{ settings.SUB_SITE }}/srnajbrowserde">jBrowserDE</a>#}
{#                                </li>#}

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
{#                        <li>#}
{#                            <a href="#"><i class="fa fa-link fa-fw"></i> Workflows<span class="fa arrow"></span></a>#}
{#                            <ul class="nav nav-second-level">#}
{#                                <li>#}
{#                                    <a href="">miRNAFuncTargets</a>#}
{#                                    <a href="{{ settings.SUB_SITE }}/mirnafunctargets">miRNAFuncTargets</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
                        <li>
                            <a href="#"><i class="fa fa-plus fa-fw"></i>Helper Tools<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

                                <li>
                                    <a href="{{ settings.SUB_SITE }}/helper/ensemlparser/">Ensembl Parser</a>
                                </li>
                                <li>
                                    <a href="{{ settings.SUB_SITE }}/helper/ncbiparser/">NCBI Parser</a>
                                </li>
                                <li>
                                    <a href="{{ settings.SUB_SITE }}/helper/rnacentralparser/">RNA central parser</a>
                                </li>
                                <li>
                                    <a href="{{ settings.SUB_SITE }}/helper/trnaparser/">Genomic tRNA database parser</a>
                                </li>
                                <li>
                                    <a href="{{ settings.SUB_SITE }}/helper/removedup/">Remove duplicates from a fasta file</a>
                                </li>
                                <li>
                                    <a href="{{ settings.SUB_SITE }}/helper/extract/">Extract Sequences from a fasta file</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
{#                            <a href="{{ settings.SUB_SITE }}/static/webmanual.pdf"><i class="fa fa-book fa-fw"></i>Web Manual</a>#}
                            <a href="{{ settings.SUB_SITE }}/static/webmanual.pdf" target="_blank"><i class="fa fa-file-text fa-fw"></i>Web Manual</a>
                        </li>
                        <li>
{#                            <a href="{{ settings.SUB_SITE }}/static/webmanual.pdf"><i class="fa fa-book fa-fw"></i>Web Manual</a>#}

                            <a href="{{ settings.SUB_SITE }}/static/sRNAtoolbox_manual.pdf" target="_blank"><i class="fa fa-book fa-fw"></i>Full Manual</a>
                        </li>
                        <li>
                            <a href="https://bioinfo2.ugr.es/srnatoolbox/changelog/" target="_blank"><i class="fa fa-history fa-fw"></i>Changelog</a>
                        </li>

                        <li>
                            <a href="https://bioinfo2.ugr.es/srnatoolbox/standalone/" target="_blank"><i class="fa fa-laptop fa-fw"></i>Standalone</a>
                        </li>

                        <li>
                            <a href="{{ settings.SUB_SITE }}/statistics"><i class="fa fa-pencil-square-o "></i>Usage statistics</a>
{#                            <a href="{{ settings.SUB_SITE }}/versionControl"><i class="fa fa-pencil-square-o "></i>Usage statistics</a>#}
                        </li>
                        <li>
{#                            <a  ><i class="fa fa-question-circle"> </i></a>#}
{#                            <a data-toggle="modal" data-target="#HWTC_bench" class="btn btn-link"><i class="fa fa-graduation-cap"></i>How to Cite</a>#}
                            <a href="#" data-toggle="modal" data-target="#HWTC_bench" ><i class="fa fa-graduation-cap"></i>How to Cite</a>
{#                            <a href="https://dx.doi.org/10.1093%2Fnar%2Fgkv555" target="_blank"><i class="fa fa-graduation-cap"></i>How to Cite</a>#}
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->

        </nav>


        {% include "Messages/bench/HWTCbench.html" %}
        {% block content %}{% endblock %}
        {% block modals %}

        {% endblock %}





    <!-- /#wrapper -->


    {% block js %}  {% endblock %}


</br> </br> </br>



</body>

</html>
