{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


    <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
            <a href="http://www.degruyter.com/view/j/mngs.2014.1.issue-1/mngs-2014-0001/mngs-2014-0001.xml" target="_blank"> <h1>sRNAbench: </h1></a>
            <h3>Profiling of small RNAs and its sequence variants in single or multi-species high-throughput experiments</h3>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
    <div class="col-lg-9">

    

{% comment %}    <form action="/srnatoolbox/srnabench/test" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit"  class="btn btn-success" value="Launch Test">
   </form>

    <br>{% endcomment %}


    {% include 'form_base.html' %}

    </div>




        <div class="col-lg-3">
            <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Help
                </h4>
            </div>
            <div class="panel-body">
                <a href="http://bioinfo5.ugr.es/sRNAbench/sRNAbench_web.pdf" target="_blank">Link to Web Manual</a>
                <br/>
                <a href="http://bioinfo5.ugr.es/srnatoolbox/jobstatus/srnabench/?id=MGZ4UT6UFX2ZG4V" target="_blank">Link to Test Data Results</a>
                </div>

                </div>

    </div>

    <div class="col-lg-3">
            <div class="panel panel-green">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Test Data Description
                </h4>
            </div>
            <div class="panel-body">
                Secreted exosomes of an Epstein-Barr virus (EBV)-transformed lymphoblastoid cell line (LCLs). Small RNAs of human and virus origin can be detected.
                <br>
                <a href="http://www.cell.com/cell-reports/fulltext/S2211-1247%2814%2900703-7"  target="_blank">Link To Publication</a>
            </div>
            </div>

    </div>

    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Test Data Parameters
                </h4>
            </div>
            <div class="panel-body">
                Input File: <a href="http://bioinfo5.ugr.es/static/testData/IK_exo.fastq.gz" download> <i class="fa fa-download fa-fw"></i> IK_exo.fastq.gz</a>
                <br>
                Adapter: TGGAATTCTCGGGTGCCAAGG
                <br>
                Species: <pre style=" white-space: nowrap; overflow-y: hidden">Human(hg19),Epstein Barr Virus(NC_007605)</pre>


            </div>

        </div>





            </div>


    </div>




    </div>
    <!-- /.row -->



    <!-- /#page-wrapper -->
    </div>

{% endblock %}


{% block modals %}
    {% include "Messages/bench/sRNAbenchInput.html" %}
    {% include "Messages/bench/guess_Adapter.html" %}
    {% include "Messages/bench/library_mode.html" %}
    {% include "Messages/bench/minimum_adapter_length.html" %}
    {% include "Messages/bench/mismatches_adapter.html" %}
    {% include "Messages/bench/Not_profile.html" %}
    {% include "Messages/bench/RecursiveAdaptorTrimming.html" %}
    {% include "Messages/bench/speciesBench.html" %}
    {% include "Messages/bench/UploadUserFiles.html" %}
    {% include "Messages/bench/mirnas.html" %}
{% endblock %}

{% block js %}


    <script>
    jQuery(document).ready(function() {
        jQuery('#id_species').multiselect({
            enableCollapsibleOptGroups: true,
            enableCaseInsensitiveFiltering: true,
            filterBehavior: 'both',
            maxHeight: 300,
            onDropdownHidden: function (e) {
                jQuery('#id_species_hidden').val(jQuery('#id_species').val().join(','));
{#                qsp=jQuery('#id_species').val();#}
{#                var a;#}
{#                for (i = 0; i < qsp.length; i++) {#}
{#                a.push(qsp[i].split(:)[0])#}
{#                }#}
{#                res=a.join(',');#}
{#                jQuery('#id_species_hidden').val(res);#}
            }

        });
    });
    </script>


    <script>
        // tooltip demo
        $('.row').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        })

    </script>

    <script>
    function myFunction() {
        var x, text, message;
        message = "There were some errors in your job. Please select your input again and check for invalid options"

        x = document.getElementById("id_adapter_manual").value;


        if (!document.getElementById("id_species").value && !document.getElementById("id_mirna_profiled").value) {
            document.getElementById('id_ifile').value = "";
            alert(message); return true
{#            alert("species and mirna_profiled" + document.getElementById("id_species").value); return true#}
        } else if (document.getElementById("id_ifile").value && document.getElementById("id_url").value){
            document.getElementById('id_ifile').value = "";
{#            alert("id_file url");#}
{#            return true;#}
                        alert(message); return true
        }else if (document.getElementById('id_predict_mirna').checked && document.getElementById('id_library_mode').checked){
            document.getElementById('id_ifile').value = "";
{#            alert( " predict and library mode"); return true#}
            alert(message); return true
        }else if ((0 + document.getElementById('id_guess_adapter').checked + Boolean(document.getElementById('id_adapter_chosen').value) + Boolean(document.getElementById('id_adapter_manual').value )!=1)){
            document.getElementById('id_ifile').value = "";
            alert(message); return true
{#            alert("adapter row"); return true#}
        }else if (document.getElementById('id_guess_adapter').checked && !document.getElementById('id_species')){
            document.getElementById('id_ifile').value = "";
            alert(message); return true
{#            alert("guess without species"); return true#}
        }else if (document.getElementById('id_highconf').checked && document.getElementById('id_mirDB').value){
            document.getElementById('id_ifile').value = "";
            alert(message + document.getElementById('id_mirDB').value+"mirDB"); return true
        }

    }
    </script>


{% endblock %}

