{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
            <a href="http://www.degruyter.com/view/j/mngs.2014.1.issue-1/mngs-2014-0001/mngs-2014-0001.xml" target="_blank"> <h1>sRNAbench: </h1></a>
            <h3>Profiling of small RNAs and its sequence variants in single or multi-species high-throughput experiments</h3>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
    <div class="col-lg-9">

    

{% comment %}    <form action="/srnatoolbox/srnabench/test" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit"  class="btn btn-success" value="Launch Test">
   </form>

    <br>{% endcomment %}

    <form action="/srnatoolbox/srnabench/run" method="post" enctype="multipart/form-data">
	{% csrf_token %}




    <!-- INPUT DATA -->
    <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
           Input data
        </h4>
    </div>
    <div class="panel-body">
    <div class="form-group">
        <label> Upload the reads (fastq.gz, fa.gz or rc.gz):
            <a  data-toggle="modal" data-target="#SRNAinput" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>
        </label>
        <input type="file" name="reads_file" id=file1>
    </div>

    <div class="form-group">
        <label> Or provide a URL for big files </label>
        <label class="text-success"> (recommended!) </label>
        <input name="reads_url" size="50">
    </div>


    <div class="form-group">
        <label> Provide a Job Name. </label>
        <label class="text-info"> (Leave blank to use fileName)</label>
        <input name="job_name" size="50">
    </div>


    <!-- Select Species -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapseTwo">Select species</a> <a  data-toggle="modal" data-target="#Species" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <label><input type="checkbox" name="libMode">Do not map to genome (Library mode)</label><a  data-toggle="modal" data-target="#library_mode" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>
                    <span style="display:inline-block; width: 50px;"></span>
                    <label><input type="checkbox" name="noLibs">Do not profile other ncRNAs </label>
                    <label class="text-info">(you are interested in known microRNAs only!)</label><a  data-toggle="modal" data-target="#Not_profile" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>
                </div>

                {% for class_sp,species_array in species_data.items %}

                    <div class="form-group">
                        <label>{{ class_sp }}</label>
                        <div class="checkbox">
                            {% for specie in species_array %}
                                <label><input type="checkbox" name="species" value="{{specie.shortName}}:{{specie.db}}:{{specie.db_ver}}">{{specie}}</label>
                                <span style="display:inline-block; width: 10px;"></span>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Adapter Removal -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapseThree">Adapter Trimming</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <label><input type="checkbox" name="guessAdapter">Guess the adapter sequence </label><a  data-toggle="modal" data-target="#Guess_Adapter" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>
                    <label class="text-danger">(not recommended!)</label>
                </div>
                <div class="form-group">
                    <div class="row row-grid">
                        <div class="col-lg-4">
                            <label>Select Adapter</label>
                            <select class="form-control" name="adapter">
                                <option value="XXX">Input is adapter trimmed</option>
                                <option value="TGGAATTCTCGGGTGCCAAGG">Illumina RA3 - TGGAATTCTCGGGTGCCAAGG</option>
                                <option value="UCGUAUGCCGUCUUCUGCUUGU">Illumina (alternative) - UCGUAUGCCGUCUUCUGCUUGU</option>
                                <option value="330201030313112312">SOLiD (SREK) - 330201030313112312</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label> Or Provide adapter sequence: </label>
                            <input name="alterAdapter" size="40">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row row-grid" >
                        <div class="col-lg-4">
                            <label> Minimum Adapter Length </label><a  data-toggle="modal" data-target="#adapter_length" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>
                            <br>
                            <select class="form-control-static"  name="adapterMinLength">
                                <option value="10">10</option>
                                <option value="8">8</option>
                                <option value="6">6</option>
                                <option value="12">12</option>
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <label>  Max. mismatches in adapter detection </label> <a  data-toggle="modal" data-target="#mismatches_adapter" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>
                            <br>
                            <select class="form-control-static"  name="adapterMM">
                                <option value="1"> 1 </option>
                                <option value="0"> 0 </option>
                                <option value="2"> 2 </option>
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <label><input type="checkbox" name="recursiveAdapterTrimming">Recursive Adapter trimming</label><a  data-toggle="modal" data-target="#RecursiveAdaptorTrimming" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- MicroRNA analysis -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapseFive">MicroRNA analysis</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row row-grid">

                    <div class="col-lg-4">
                        <label>Use the miRNAs for the species from the selected genomes
                            <input type="checkbox" name="genomeMiR" checked="true"> </label>
                    </div>

                    <div class="col-lg-4">
                        <label>Specify the microRNAs that should be profiled (for example, hsa (human), mmu (mouse) or hsa:hsv1 (human and herpes simplex virus): <a  data-toggle="modal" data-target="#mirnas" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>
                            <a href="http://www.genome.jp/kegg/catalog/org_list.html" target="_blank" class="box"> more </a>
                        <input type="text" size="40" name="miR"></label>
                    </div>

                    <div class="col-lg-4">
                        <label>Analyse homologous microRNAs (can be set to 'all'): </label>
                        <input type="text" size="40" name="homolog">
                    </div>
                </div>

                <div class="row row-grid">
                    <div class="col-lg-4">
                        <label> Use high confidence microRNAs from miRBase
                            <input type="checkbox" name="highconf"> </label>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Parameters -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapseFour">Parameters</a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">

                <div class="form-group">
                    <div class="row row-grid">
                        <div class="col-lg-4">
                            <lable> <input type="checkbox" name="solid"> The input is SOLiD  </lable>
                        </div>

                        <div class="col-lg-4">
                            <label>Minimum Read Count:</label>
                            <br>
                            <select class="form-control-static"  name="rc">
                                <option value="2"> 2</option>
                                <option value="1"> 1</option>
                                <option value="4"> 4</option>
                                <option value="10"> 10</option>
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <label>Allowed number of mismatches (either to the genome or libraries)</label>
                            <select class="form-control-static" name="mm">
                                <option value="0"> 0</option>
                                <option value="1"> 1</option>
                                <option value="2"> 2</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row row-grid">

                        <div class="col-lg-4">
                            <label> Select the seed length for alignment</label>
                            <br>
                            <select class="form-control-static" name="seed">
                                <option value="20"> 20</option>
                                <option value="17"> 17</option>
                                <option value="18"> 18</option>
                                <option value="19"> 19</option>
                                <option value="21"> 21</option>
                            </select>
                        </div>


                        <div class="col-lg-4">
                            <label>The alignment type</label>
                            <span style="display:inline-block; width: 3px;"></span>
                            <button type="button" class="btn btn-info btn-circle" data-toggle="tooltip" data-placement="rigth" title="" data-original-title="'n' = bowtie seed alignment (only mismatches in seed region count), 'v' = full read alignment (all mismatches count)">
                                <i class="fa fa-question"></i>
                            </button>
                            <br>
                            <select class="form-control-static" name="alignType">
                                <option value="n"> n</option>
                                <option value="v"> v</option>
                            </select>
                        </div>


                        <div class="col-lg-4">
                            <label>Remove 5' barcode</label>
                            <span style="display:inline-block; width: 3px;"></span>
                            <button type="button" class="btn btn-info btn-circle" data-toggle="tooltip" data-placement="rigth" title="" data-original-title=" Number of nucleotides removed from 5' end of read">
                                <i class="fa fa-question"></i>
                            </button>
                            <br>
                            <select class="form-control-static" name="removeBarcode">
                                <option value="0"> 0 </option>
                                <option value="1"> 1</option>
                                <option value="2"> 2</option>
                                <option value="3"> 3</option>
                                <option value="4"> 4</option>
                                <option value="5"> 5</option>
                                <option value="6"> 6</option>
                            </select>
                        </div>

                    </div>
                </div>





                    <div class="form-group">
                    <div class="row row-grid">


                        <div class="col-lg-4">
                            <label>Predict New miRNAs
                            <input type="checkbox" name="predict"> </label>
                        </div>

                        <div class="col-lg-4">
                            <label> Min. Read Length</label>
                            <br>
                            <select class="form-control-static" name="minReadLength">
                                <option value="15" selected> 15</option>
                                <option value="16"> 16</option>
                                <option value="17"> 17</option>
                            </select>
                        </div>


                        <div class="col-lg-4">
                            <label>Maximum Number of Multiple Mappings</label>
                            <select class="form-control-static" name="mBowtie">
                                <option value="1" > 1</option>
                                <option value="5"> 5</option>
                                <option value="8"> 8</option>
                                <option value="10" selected> 10</option>
                                <option value="20"> 20</option>
                                <option value="40"> 40</option>
                            </select>
                        </div>




                    </div>
                </div>










            </div>
        </div>

    </div>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapseSix"> Upload user annotations for profiling </a><a  data-toggle="modal" data-target="#UserUpload" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row row-grid">
                        <div id="libfile_upload" class="col-lg-6">
                            <input type="file" name="user_files" size="40">

                        </div>
                        <div id="url_upload" class="col-lg-6">
                            Provide URL: <input name="user_urls" size="40">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row row-grid">
                        <div id="url_upload" class="col-lg-6">
                            <input type="button" value="Add another library file" onclick="addInput('libfile_upload', 'file');">
                            <input type="button" value="Add another url file" onclick="addInputURL('url_upload', 'file');">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>





    <input type="submit"  class="btn btn-primary" value="Run">


    </div>
    </div>
    </form>

    </div>


    <div class="col-lg-3">
            <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Help
                </h4>
            </div>
            <div class="panel-body">
                <a href="http://bioinfo5.ugr.es/sRNAbench/sRNAbench_web.pdf" target="_blank">Link to Web Manual</a>
                <br/>
                <a href="http://bioinfo5.ugr.es/srnatoolbox/jobstatus/srnabench/?id=MGZ4UT6UFX2ZG4V" target="_blank">Link to Test Data Results</a>
                </div>

                </div>

    </div>

    <div class="col-lg-3">
            <div class="panel panel-green">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Test Data Description
                </h4>
            </div>
            <div class="panel-body">
                Secreted exosomes of an Epstein-Barr virus (EBV)-transformed lymphoblastoid cell line (LCLs). Small RNAs of human and virus origin can be detected.
                <br>
                <a href="http://www.cell.com/cell-reports/fulltext/S2211-1247%2814%2900703-7"  target="_blank">Link To Publication</a>
            </div>
            </div>

    </div>

    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Test Data Parameters
                </h4>
            </div>
            <div class="panel-body">
                Input File: <a href="http://bioinfo5.ugr.es/static/testData/IK_exo.fastq.gz" download> <i class="fa fa-download fa-fw"></i> IK_exo.fastq.gz</a>
                <br>
                Adapter: TGGAATTCTCGGGTGCCAAGG
                <br>
                Species: <pre style=" white-space: nowrap; overflow-y: hidden">Human(hg19),Epstein Barr Virus(NC_007605)</pre>


            </div>
        </div>

    </div>




    </div>
    <!-- /.row -->



    <!-- /#page-wrapper -->
    </div>

{% endblock %}


{% block modals %}
    {% include "Messages/bench/sRNAbenchInput.html" %}
    {% include "Messages/bench/guess_Adapter.html" %}
    {% include "Messages/bench/library_mode.html" %}
    {% include "Messages/bench/minimum_adapter_length.html" %}
    {% include "Messages/bench/mismatches_adapter.html" %}
    {% include "Messages/bench/Not_profile.html" %}
    {% include "Messages/bench/RecursiveAdaptorTrimming.html" %}
    {% include "Messages/bench/speciesBench.html" %}
    {% include "Messages/bench/UploadUserFiles.html" %}
    {% include "Messages/bench/mirnas.html" %}
{% endblock %}

{% block js %}
    <script>
        // tooltip demo
        $('.row').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        })

    </script>


    <script type="text/javascript" language="JavaScript">
        var filecounter = 1;
        var urlcounter = 1;
        var limit = 10;
        function addInput(divName, type){
            if(filecounter == limit)  {
                alert("You have reached the limit of " + filecounter + " files.");
            }else{
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "<input type=\"file\" name=\"user_files\" size=\"40\">";
                document.getElementById(divName).appendChild(newdiv);
                filecounter++;
            }
        }
        function addInputURL(divName, type){
            if(filecounter == limit)  {
                alert("You have reached the limit of " + filecounter + " files.");
            }else{
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "Provide URL: <input name=\"user_urls\" size=\"40\">";
                document.getElementById(divName).appendChild(newdiv);
                filecounter++;
            }
        }
        function HideContent(d) {
            document.getElementById(d).style.display = "none";
        }
        function ShowContent(d) {
            document.getElementById(d).style.display = "block";
        }
        function ReverseDisplay(d) {
            if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
            else { document.getElementById(d).style.display = "none"; }
        }

    </script>

{% endblock %}
