{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>sRNAde: </h1>
                    <h3>Consensus differential expression (DESeq, DEseq2, t-test, edgeR and NOISeq), visual cluster analysis and
                        sequencing statistics. </h3>
                </div>
            </div>


            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-9">

                <table id="jobs" class="table table-striped table-bordered table-hover dataTable no-footer"></table>

                {% include 'form_base.html' %}


            </div>


            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Help
                        </h4>
                    </div>
                    <div class="panel-body">
                        <a href="{{ settings.MANUAL_URL }}" target="_blank">Link to Web Manual</a>
                        <br>
                        <a href="https://alu.ugr.es/srnatoolbox/srnade/result?id=X9MRPRLUC7X5JSW" target="_blank">Link
                            to Test Data Results</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Test Data Description
                        </h4>
                    </div>
                    <div class="panel-body">
                        Exosome vs Cell fraction from a panel of human B cells.
                        <br>
                        <a href="https://doi.org/10.1016/j.celrep.2014.08.027" target="_blank">Link To
                            Publication</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Test Data Parameters
                        </h4>
                    </div>
                    <div class="panel-body">
                        <b>Group assignment:</b> <br>
                        Assign first 6 samples to group "exosome" and remaining samples to group "cell" <br>
                        <b>Use default parameters:</b> <br>
                        (p-value: 0.05, probability: 0.8)



                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>



{% endblock %}

{% block modals %}
    {% include "Messages/de/SampleDescription.html" %}
    {% include "Messages/de/ListOfIDs.html" %}
{% endblock %}

{% block js %}
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js'%}"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.12/api/processing().js"></script>
{#    <script src="{% static 'js/sRNAde_form_control.js' %}"></script>#}

    <script>
        var group_list = {{ group_data|safe }};
        var sample_keys = {{ group_keys|safe }};

        var received_data = {{ table_data|safe }};
        var received_cols = {{ table_headers|safe }}

        $(document).ready(function() {

{#        var table = $('#jobs').DataTable( {#}
         table = $('#jobs').DataTable( {

    //        'responsive': true,
            data: received_data,
    //        processing: true,
    //        serverSide: true,
    //        deferRender: false,
            'language':{
           "loadingRecords": "&nbsp;",
          "processing": "Loading..."
        },
            columns: received_cols,
        } );

    } );

{#        const keys = Object.keys(group_dict);#}
{#         for(count = 0; count < keys.length; count++){#}
{#             key = keys[count];#}
{#             alert([key,group_dict[key]]);#}
{#            };#}

    $('#jobs').on('click', 'tr', function (group_dict) {
{#        const keyl = Object.keys(group_dict);#}
        var new_data = document.getElementsByName("group_selector");
         for(count = 0; count < new_data.length; count++){
                key = String(new_data[count].id);
                value = String(new_data[count].value);
                c = sample_keys.indexOf(key);
                group_list[c] = value;
{#                alert(group_list);#}
                 window['group_list'] = group_list;


{#                alert( [key,value]);#}


{#        alert(group_keys);#}
{#                alert(group_keys);#}
            }
{#        var keys = sample_keys;#}
{#        var group_list = [];#}
{#        var sample_list = [];#}
{#        for(count = 0; count < keys.length; count++){#}
{#             key = keys[count];#}
{#             alert([key,group_dict[key]]);#}
{#             sample_list.push(key);#}
{#             group_list.push(group_dict[key]);#}
{#            };#}
{#        document.getElementById("id_samples_hidden").value = sample_list.join();#}
{#        document.getElementById("id_groups_hidden").value = group_list.join();#}
{#        alert(sample_list.length);#}
{#        alert(document.getElementById("id_samples_hidden").value);#}
{#        alert(group_list.length);#}
{#        alert(document.getElementById("id_groups_hidden").value);#}
    });

    document.addEventListener("keydown", keyDownTextField, false);

    function keyDownTextField(e) {
      var keyCode = e.keyCode;
       var new_data = document.getElementsByName("group_selector");
         for(count = 0; count < new_data.length; count++) {
             key = String(new_data[count].id);
             value = String(new_data[count].value);
             c = sample_keys.indexOf(key);
             group_list[c] = value;
             window['group_list'] = group_list;

             {#alert([c,value]);#}

         }
         {#alert("key")#}
}


    $('#jobs').on('click', 'tr', function (group_dict) {
{#        const keyl = Object.keys(group_dict);#}
        var new_data = document.getElementsByName("group_selector");
         for(count = 0; count < new_data.length; count++) {
             key = String(new_data[count].id);
             value = String(new_data[count].value);
             c = sample_keys.indexOf(key);
             group_list[c] = value;
             {#                alert(group_list);#}
             window['group_list'] = group_list;

             {#alert([c,value]);#}

         }
         {#alert("click")#}
    })


    function add_hidden() {
        document.getElementById("id_samples_hidden").value = sample_keys.join();
        document.getElementById("id_groups_hidden").value = group_list.join();
{#        alert(document.getElementById("id_groups_hidden").value);#}
        return true
    }


    </script>
{% endblock %}
