{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
            <div class="page-header">
            <h1>DEjBrowser: </h1>
            <h3>  </h3>
            </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-9">
                <form action="srnade/test" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit"  class="btn btn-success" value="Launch Test">
                </form>

                <br>

                <form id="configform" action="/srnatoolbox/srnajbrowserde/run" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a>Input data</a>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row row-grid">
                                    <div class="col-lg-6">
                                        <label>List of sRNAbench IDs (colon separated, separate groups by hashes): </label>
                                        <input id="form0" class="form-control" name="id" placeholder="e.g: id1:id2#id3:id4#id5:id6:id7">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Sample groups (Hash separated): </label>
                                <input id="form1" class="form-control" name="desc" placeholder="e.g: Normal#TumorI#TumorII">
                            </div>

                            <div class="form-group">
                                <label>Length interval (Read length groups are separated by ‘:’. The upper and lower bound are separated by ‘-‘): </label>
                                <input id="form2" class="form-control" name="length" placeholder="e.g: 17-19:20-22:27-34">
                            </div>


                            <div class="row row-grid">
                                <br>
                                <div class="col-lg-4">
                                    <input type="submit"  class="btn btn-primary" value="Run">
                                </div>
                            </div>

                        </div>



                    </div>
                </form>



    </div>
            <div class="col-lg-3">
            <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Help
                </h4>
            </div>
                <div class="panel-body">
                    <a href="{{ settings.MANUAL_URL }}" target="_blank">Link to Web Manual</a>
                    <br>
                    <a href="http://bioinfo5.ugr.es/srnatoolbox/jobstatus/srnade/?id=EQ9WNJMKAZZHL4Y"  target="_blank">Link to Test Data Results</a>
                </div>
            </div>

            </div>

            <div class="col-lg-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Test Data Description
                        </h4>
                    </div>
                    <div class="panel-body">
                        High-throughput sequencing of matched colorectal normal, tumor and metastasis tissue.
                        <br>
                        <a href="http://www.ncbi.nlm.nih.gov/Traces/sra/?study=SRP022054" target="_blank">Link To Publication</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Test Data Parameters
                        </h4>
                    </div>
                    <div class="panel-body">
                        List of sRNAbench IDs:
                        <pre style=" white-space: nowrap; overflow-y: hidden">81987004:40556372:19994348:36051384:27184899:96695896:37625849:6029554#6638669:34570309:48696589:57930371:29228514:91452736:45534554:30209829:43569553#42684230:70999371:35314098:95714149:93785342:67937276:34360219:78835411:73999582</pre>
                        <br>
                        Sample groups:
                        <pre style="white-space: nowrap; overflow-y: hidden">control#cancer#metastasis</pre>


                    </div>
                </div>

            </div>
    <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/sRNAde_form_control.js' %}"></script>
{% endblock %}
