{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Some errors were detected in input data</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="panel panel-info" id="error">
                <div class="panel-heading">
                    Errors Detected
                </div>
                <div class="panel-body">
                    <label>Following errors were detected:</label>

                    {% for error in errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endfor %}

                </div>
            </div>



        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->


{% endblock %}


