{% load static %}

        <div class="col-lg-6 well">
        {% for key, value in libs.items %}
            <h5>{{ key.0}}</h5>
            <dl class="dl-horizontal">
                {% for key2, value2 in value.items %}
                <dt style='text-align: left; margin-bottom: 0.25em; width: auto; padding-right: 1em;'>{{ key2 }}
                </dt>
                <dd style="margin-left: 0; margin-bottom: 0.25em;">{{ value2 }}
                    {% ifequal key2|default:""|slice:"-9" "RNAASense" %}
{#                        antisense <dd style="margin-left: 0; margin-bottom: 0.25em;"><a href="{% url "table_bench" "novel" id %}">details</a></dd>#}
                        <dd style="margin-left: 0; margin-bottom: 0.25em;"><a href="{% url "table_bench" "MA_antisense" id key.1 %}">MA antisense</a></dd>
                        <dd style="margin-left: 0; margin-bottom: 0.25em;"><a href="{% url "table_bench" "SA_antisense" id key.1 %}">SA antisense</a></dd>
{#                    <a href="{% url "sRNABench.views.render_table" "MA_antisense" id key.1%}"> MA </a> /#}
{#                    <a href="{% url "sRNABench.views.render_table" "SA_antisense" id key.1%}"> SA </a>#}
                    {% elifequal key2|default:""|slice:"-6" "ASense"%}
                        <dd style="margin-left: 0; margin-bottom: 0.25em;"><a href="{% url "table_bench" "MA_antisense" id key.1 %}">MA antisense</a></dd>
                        <dd style="margin-left: 0; margin-bottom: 0.25em;"><a href="{% url "table_bench" "SA_antisense" id key.1 %}">SA antisense</a></dd>
                    {% elifequal key2|default:""|slice:"-8" "Sense"%}
                        <dd style="margin-left: 0; margin-bottom: 0.25em;"><a href="{% url "table_bench" "MA" id key.1 %}">multiple assignment (MA)</a></dd>
                        <dd style="margin-left: 0; margin-bottom: 0.25em;"><a href="{% url "table_bench" "SA" id key.1 %}">single assignment (SA)</a></dd>
                    {% endifequal %}
                </dd>
                {% endfor %}
            </dl>
        {% endfor %}
        </div>
