{% load static %}

<style>
    @media (min-width: 768px) {
{#    @media (min-width: 768px) {#}
      .modal-xl {
        width: 90%;
          height: 300%;
       max-width:1200px;
      }
    }
</style>

<div class="row row-grid">
    <h4>MiR profiling results</h4>
    <div class="col-lg-6 well">
        <dl class="dl-horizontal">
            {% for key, value in mirprof.items %}
                <dt style='text-align: left; margin-bottom: 0.25em; width: auto; padding-right: 1em;'>{{ key }}</dt>
                <dd style="margin-left: 0; margin-bottom: 0.25em;">{{ value }}</dd>
            {% endfor %}
        </dl>
    </div>

    <div class="col-lg-6">
    <h4>Download profiling results</h4>
        <dl class="dl-horizontal">
            {% for key, value in mirdown.items %}
                <dt style='text-align: left; margin-bottom: 0.25em; width: auto; padding-right: 1em;'>{{ key }}</dt>
                <dd style="margin-left: 0; margin-bottom: 0.25em;"><a href="{{ value }}" class="alert-link">Download</a></dd>
            {% endfor %}
        </dl>
    </div>
</div>

<div class="row row-grid">
    <dl class="dl-horizontal">
        <dt>MicroRNA details:</dt>
        <dd><ul class="list-inline">
            <li><a href="{% url "table_bench" "pre-microRNA" id %}">pre-microRNA</a></li>
            <li><a href="{% url "table_bench" "mature" id %}">mature (MA)</a></li>
            <li><a href="{% url "table_bench" "maturesa" id %}">mature (SA)</a></li>
        </ul></dd>

        <dt>isomiR details:</dt>
        <dd><ul class="list-inline">
            <li><a href="{% url "table_bench" "isomir" id %}"> isomiR summary </a></li>
        </ul></dd>
    </dl>
</div>




    <div class="row row-grid">
    <div class="col-lg-12">
        {% for img  in mirimg %}
            <div class="col-lg-6">
{#                <a href="{{ MEDIA_URL }}{{ img  }}"  > <img src="{{ MEDIA_URL }}{{ img  }}"  alt="Heat Map" style="width:100%;height:100%" /> </a>#}
                <a href="javascript:void(0)" ><img id="mir_img{{ forloop.counter }}" src="{{ MEDIA_URL }}{{ img  }}" alt="img" style="width:100%;height:100%;padding:1px;border:thin solid black;"  /> </a>

            </div>
                <div class="modal" id="modal_test_mir{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
    {#	    <div class="modal-dialog" role="document">#}
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content" >
                <div class="modal-body" >


                         <img src="{{ MEDIA_URL }}{{ img  }}"  alt="Heat Map" style="width:100%;height:100%" />



                        <!-- Plotly chart will be drawn inside this DIV -->
    {#	          <img style="display:block; margin-left:auto; margin-right:auto; width:100%;" src="{{ MEDIA_URL }}{{ sumimgs.0  }}">#}
    {#	          <h1 style="text-align: center;">hello there</h1>#}
                </div>
              </div>
            </div>
        </div>


    <script>
        $('#mir_img{{ forloop.counter }}').click(function() {
         $("#modal_test_mir{{ forloop.counter }}").modal('show');
    {#     alert("this is a test");#}
{#         if (!document.getElementById("{{ div_id }}")){#}
{#             $('#empty_div_mir{{ forloop.counter }}').append('{{ plot|escapejs }}');#}
{#         }#}
        });


{#     Plotly.relayout( "{{ div_id }}", { 'xaxis.autorange': true, 'yaxis.autorange': true });#}

</script>

        {% endfor %}
    </div>
</div>

{% if miRNA_plots %}

<div class="row row-grid">
            {% for plot,img,div_id, img_id  in miRNA_plots %}
                <div class="col-lg-6">
                    <a href="javascript:void(0)" ><img id="{{ img_id }}" src="{{ img  }}" alt="img" style="width:100%;height:100%;padding:1px;border:thin solid black;"  /> </a>
                </div>




{#        <div class="modal fade" id="modal_test" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">#}
        <div class="modal" id="modal_test_{{ div_id }}" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
{#	    <div class="modal-dialog" role="document">#}
	    <div class="modal-dialog modal-xl" role="document">
	      <div class="modal-content" >
	        <div class="modal-body" >
                <div id="empty_div_{{ div_id }}">

                </div>
                    <!-- Plotly chart will be drawn inside this DIV -->
{#	          <img style="display:block; margin-left:auto; margin-right:auto; width:100%;" src="{{ MEDIA_URL }}{{ sumimgs.0  }}">#}
{#	          <h1 style="text-align: center;">hello there</h1>#}
	        </div>
	      </div>
	    </div>
	</div>

<script>
    $('#{{ img_id }}').click(function() {
     $("#modal_test_{{ div_id }}").modal('show');
{#     alert("this is a test");#}
     if (!document.getElementById("{{ div_id }}")){
         $('#empty_div_{{ div_id }}').append('{{ plot|escapejs }}');
     }
    });


{#     Plotly.relayout( "{{ div_id }}", { 'xaxis.autorange': true, 'yaxis.autorange': true });#}

</script>

{% endfor %}
             </div>

{% endif %}