{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">

                <div class="page-header">
                    <h1>miRNAconsTarget:</h1>
                    <h3>Consensus microRNA target prediction</h3>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-9">

{% comment %}
                <form action="mirconstarget/test" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit"  class="btn btn-success" value="Launch Test">
                </form>

                <br>
{% endcomment %}

                {% include 'form_base.html' %}


            </div>



            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Help
                        </h4>
                    </div>
                    <div class="panel-body">
                        <a href="{{ settings.MANUAL_URL }}" target="_blank">Link to Web Manual</a>
                        <br>
                        <a href="{{ settings.SUB_SITE }}/pmirconstarget/results?id=3AUWMR9B2JI95JO"  target="_blank">Link to Test Data Results</a>

                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Test Data Description
                        </h4>
                    </div>
                    <div class="panel-body">
                        Arabidopsis thaliana miRNAs and UTRs
                    </div>
                </div>
            </div>




            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Test Data Parameters
                        </h4>
                    </div>
                    <div class="panel-body">
                        miRNAs File: <a href="{% static 'ath_mirs.fa' %}" download> <i class="fa fa-download fa-fw"></i> ath_mirs.fa</a>

                        <br>
                        <b>UTRs from Ensembl for: </b> Arabidopsis thaliana
                        <br>
                        <br>
                        Programs to predict targets: <pre style=" white-space: nowrap; overflow-y: hidden">psRobot and TAPIR (FASTA and RNAhybrid engines)</pre>


                    </div>
                </div>

            </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
    </div>


{% endblock %}

{% block modals %}
    {% include "Messages/mirnaconstarget/ProgramsParameters.html" %}
    {% include "Messages/mirnaconstarget/tapir_hybrid_parameters.html" %}
    {% include "Messages/mirnaconstarget/tapir_parameters.html" %}
    {% include "Messages/mirnaconstarget/miranda_parameters.html" %}
    {% include "Messages/mirnaconstarget/psrobot_tar_parameters.html" %}
    {% include "Messages/mirnaconstarget/targetspy_parameters.html" %}
    {% include "Messages/mirnaconstarget/pita_parameters.html" %}
{% endblock %}

{% block js %}
    <script>
        $(function() {
            $('input[id="PS"]').attr('disabled', 'disabled');
            $('input[id="TF"]').attr('disabled', 'disabled');
            $('input[id="TH"]').attr('disabled', 'disabled');
        });

        $('input[id="plant"]').on('change',function() {
            if($(this).is(':checked')) {

                $('input[id="TS"]').attr('disabled','disabled');
                $('input[id="MR"]').attr('disabled','disabled');
                $('input[id="PT"]').attr('disabled','disabled');
                $('input[id="PS"]').removeAttr('disabled');
                $('input[id="TF"]').removeAttr('disabled');
                $('input[id="TH"]').removeAttr('disabled');

            }
            else {
                $('input[id="TS"]').removeAttr('disabled');
                $('input[id="MR"]').removeAttr('disabled');
                $('input[id="PT"]').removeAttr('disabled');
                $('input[id="PS"]').attr('disabled','disabled');
                $('input[id="TF"]').attr('disabled','disabled');
                $('input[id="TH"]').attr('disabled','disabled');
            }
        });
    </script>
{% endblock %}
