{% load static %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


<style>
    @media (min-width: 768px) {
{#    @media (min-width: 768px) {#}
      .modal-xl {
        width: 90%;
          height: 300%;
       max-width:1200px;
      }
    }
</style>

    {% if preproc_sum %}
    <div class="row row-grid">
            <div class="col-lg-6">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#Pre_summary" >Preprocessing summary</a>
                </h4>
            </div>
            <!-- .panel-heading -->
            <div id="Pre_summary" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="col-lg-10">
                        <pre style="white-space: pre-line">
                    {{ preproc_sum }}
                        </pre>
                    </div>
                </div>
            </div>
            </div>
            </div>

        </div>
    {% endif %}

        <div class="row row-grid">
            {% for plot,img,div_id, img_id  in readLen_sum %}
                <div class="col-lg-6">
                   <img id="{{ img_id }}" src="{{ img  }}" alt="img" style="width:100%;height:100%;padding:1px;border:thin solid black;"  />
                </div>




{#        <div class="modal fade" id="modal_test" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">#}
        <div class="modal" id="modal_test_{{ div_id }}" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
{#	    <div class="modal-dialog" role="document">#}
	    <div class="modal-dialog modal-xl" role="document">
	      <div class="modal-content" >
	        <div class="modal-body" >
                <div id="empty_div_{{ div_id }}">

                </div>


                    <!-- Plotly chart will be drawn inside this DIV -->
{#	          <img style="display:block; margin-left:auto; margin-right:auto; width:100%;" src="{{ MEDIA_URL }}{{ sumimgs.0  }}">#}
{#	          <h1 style="text-align: center;">hello there</h1>#}
	        </div>
	      </div>
	    </div>
	</div>


<script>
    $('#{{ img_id }}').click(function() {
     $("#modal_test_{{ div_id }}").modal('show');
     alert("this is a test");
     if (!document.getElementById({{ div_id }})){
         $('#empty_div_{{ div_id }}').append('{{ plot|escapejs }}');
     }
    });


{#     Plotly.relayout( "{{ div_id }}", { 'xaxis.autorange': true, 'yaxis.autorange': true });#}

</script>

{% endfor %}
        </div>


{##}
{#    <script>#}
{#        var trace1 = {#}
{#      x: [1, 2, 3, 4],#}
{#      y: [10, 15, 13, 17],#}
{#      mode: 'markers'#}
{#    };#}
{##}
{#    var trace2 = {#}
{#      x: [2, 3, 4, 5],#}
{#      y: [16, 5, 11, 10],#}
{#      mode: 'lines'#}
{#    };#}
{##}
{#    var trace3 = {#}
{#      x: [1, 2, 3, 4],#}
{#      y: [12, 9, 15, 12],#}
{#      mode: 'lines+markers'#}
{#    };#}
{##}
{#    var data = [ trace1, trace2, trace3 ];#}
{##}
{#    var layout = {autosize: true};#}
{##}
{#    Plotly.newPlot('test_div', data, layout);#}
{#    </script>#}
