{% load static %}

    {% if preproc_sum %}
    <div class="row row-grid">
            <div class="col-lg-10">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#Pre_summary" >Preprocessing summary</a>
                </h4>
            </div>
            <!-- .panel-heading -->
            <div id="Pre_summary" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="col-lg-6">
                        <pre style="white-space: pre-line">
                    {{ preproc_sum }}
                        </pre>
                    </div>
                </div>
            </div>
            </div>
            </div>

        </div>
    {% endif %}



        <div class="row row-grid">
            {% for img  in sumimgs %}
                <div class="col-lg-6">
                    <a href="{{ MEDIA_URL }}{{ img  }}" > <img src="{{ MEDIA_URL }}{{ img  }}" alt="img" style="width:100%;height:100%" /> </a>
                </div>
            {% endfor %}

        </div>
