{% load static %}

    {% if preproc_sum %}
    <div class="row row-grid">
            <div class="col-lg-6">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#Pre_summary" >Preprocessing summary</a>
                </h4>
            </div>
            <!-- .panel-heading -->
            <div id="Pre_summary" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="col-lg-10">
                        <pre style="white-space: pre-line">
                    {{ preproc_sum }}
                        </pre>
                    </div>
                </div>
            </div>
            </div>
            </div>

        </div>
    {% endif %}



        <div class="row row-grid">
            {% for img  in sumimgs %}
                <div class="col-lg-6">
                   <img id="test_image" src="{{ MEDIA_URL }}{{ img  }}" alt="img" style="width:100%;height:100%" />
                </div>
            {% endfor %}

        </div>


        <div class="modal fade" id="modal_test" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-body">
	          <img style="display:block; margin-left:auto; margin-right:auto; width:100%;" src="{{ MEDIA_URL }}{{ sumimgs.0  }}">
{#	          <h1 style="text-align: center;">hello there</h1>#}
	        </div>
	      </div>
	    </div>
	</div>
