{% extends "base.html" %}
{% load staticfiles %}

{% block header %}

    <p class="alert alert-danger" style="font-size:28px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
                    <br>
  </button>
        <br>
    Hey hey!
                </p>

{#    <div class="alert" role="alert">#}
{#  <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#    <span aria-hidden="true">&times;</span>#}
{#  </button>#}
{#  <strong>Holy guacamole!</strong> You should check in on some of those fields below.#}
{#   </div>#}
{##}
{#<button type="button" >    <span aria-hidden="true">&times;</span>#}
{#  </button>#}

{% endblock %}




{% block modals %}
    {% include "Messages/bench/Choose_input.html" %}
    {% include "Messages/bench/sRNAbenchInput.html" %}
    {% include "Messages/bench/Species_dropdown.html" %}
    {% include "Messages/bench/library_mode.html" %}
    {% include "Messages/bench/other_ncrnas.html" %}
    {% include "Messages/bench/guess_Adapter.html" %}
    {% include "Messages/bench/minimum_adapter_length.html" %}
    {% include "Messages/bench/mismatches_adapter.html" %}
    {% include "Messages/bench/quality_filter.html" %}
    {% include "Messages/bench/phred_encode.html" %}
    {% include "Messages/bench/mirna_species.html" %}
    {% include "Messages/bench/Not_profile.html" %}
    {% include "Messages/bench/RecursiveAdaptorTrimming.html" %}
    {% include "Messages/bench/speciesBench.html" %}
    {% include "Messages/bench/UploadUserFiles.html" %}
    {% include "Messages/bench/mirnas.html" %}

{#    Protocols      #}
    {% include "Messages/protocols/Illumina.html" %}
    {% include "Messages/protocols/NEB.html" %}
    {% include "Messages/protocols/Bioo.html" %}
    {% include "Messages/protocols/Smarter.html" %}
    {% include "Messages/protocols/Qiagen.html" %}
    {% include "Messages/protocols/Custom.html" %}


{% endblock %}

</div>

{% block js %}

<script>

function toggleFields() {
{#    if ($("#age").val() <= 13)#}
    if ( document.getElementById('id_species_hidden').value){

        $("#genome-div").show();
    }else{
        $("#genome-div").hide();
    }}


$('input[name="library_protocol"]').on("click", function(e) {
    if (document.getElementById('id_library_protocol_6').checked) {
        $("#Adapter_Custom").show();
    } else {
        $("#Adapter_Custom").hide();
    }
})



$("#id_quality_method").change(function () {
{#    if ( document.getElementById('id_library_protocol_6').checked){#}
    if ( document.getElementById('id_quality_method').value === "min"){
        $("#Div_max").show();
    }else{
        $("#Div_max").hide();
    }
    });


        {##}
        {# Adapter options #}
        {##}

$('input[name="guess_adapter"]').on("click", function(e) {
    if ( document.getElementById('id_guess_adapter').checked){
        document.getElementById("id_adapter_chosen").disabled = true;
        document.getElementById("id_adapter_manual").disabled = true;
    }else{
        document.getElementById("id_adapter_chosen").disabled = false;
        document.getElementById("id_adapter_manual").disabled = false;
    }

})

$('input[name="adapter_manual"]').on("mouseout", function(e) {

    if ( document.getElementById('id_adapter_manual').value.length > 0 ){

        document.getElementById("id_adapter_chosen").disabled = true;
        document.getElementById("id_guess_adapter").disabled = true;
    }else{
        document.getElementById("id_adapter_chosen").disabled = false;
        document.getElementById("id_guess_adapter").disabled = false;
    }

})
$('input[name="adapter_manual"]').on("change", function(e) {

    if ( document.getElementById('id_adapter_manual').value.length > 0 ){

        document.getElementById("id_adapter_chosen").disabled = true;
        document.getElementById("id_guess_adapter").disabled = true;
    }else{
        document.getElementById("id_adapter_chosen").disabled = false;
        document.getElementById("id_guess_adapter").disabled = false;
    }

})

$("input[type=file]").on('change',function(){
    var extensions = ["xls","xlsx","doc","docx"]
    if (extensions.includes(this.files[0].name.split('.').pop()) ){
        alert('Spread-sheet or document extensions such as ".xls" or ".doc" are not supported. Please upload a different file. ')
        document.getElementById('id_ifile').value = "";
    }

{#    filename.split('.').pop();#}
});

function toggleAdapter() {
{#    if ($("#age").val() <= 13)#}
    if ( document.getElementById('id_library_protocol').value){

        $("#genome-div").show();
    }else{
        $("#genome-div").hide();
    }}


</script>

    <script>
    jQuery(document).ready(function() {
        jQuery('#id_species').multiselect({
            enableCollapsibleOptGroups: true,
            enableCaseInsensitiveFiltering: true,
            filterBehavior: 'both',
            maxHeight: 300,
            onDropdownHidden: function (e) {
                if(document.getElementById('id_species').value){
                   jQuery('#id_species_hidden').val(jQuery('#id_species').val().map(function(item) {
                        return item.split(':')[0]}).join(','));
                } else{
                        document.getElementById('id_species_hidden').value = "" ;
                }
{#                    alert(document.getElementById('id_species_hidden').value);#}
                    toggleFields();
{#                alert(jQuery('#id_species').val().join(','));#}

            }

        });
        jQuery("#genome-div").hide();
        jQuery("#Adapter_Custom").hide();
        jQuery("#Div_max").hide();
    });
    </script>

    <script>
        // tooltip demo
        $('.row').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        })

    </script>

    <script>
        function validation() {
        var x, text, message, stop;
        stop = false
        message = "There were some errors in your job. Please select your input again and check for invalid options"

        x = document.getElementById("id_adapter_manual").value;

        if (!document.getElementById("id_species").value && !document.getElementById("id_mirna_profiled").value) {
            document.getElementById('id_ifile').value = "";
            alert(message);
            stop = true;
            return true
{#            alert("species and mirna_profiled" + document.getElementById("id_species").value); return true#}
        } else if ((0 + Boolean(document.getElementById('id_ifile').value) + Boolean(document.getElementById('id_url').value) + Boolean(document.getElementById('id_sra_input').value ) + Boolean(document.getElementById('id_job_reuse').value)!=1)) {
            document.getElementById('id_ifile').value = "";
{#            alert("id_file url"); #}
{#            return true;#}
            alert(message);
            stop = true;
            return true
        } else if (!Array.from(document.getElementsByName('library_protocol')).some(Boolean)) {
            document.getElementById('id_ifile').value = "";
            {#            alert( " predict and library mode"); return true#}
            alert(message);
            stop = true;
            return true
        } else if ((0+ Boolean(document.getElementById('id_species_hidden')) + Boolean(document.getElementById('id_mirna_profiled')) + Boolean(document.getElementById('id_referenceDB') === "MirGeneDB"))<1) {
            document.getElementById('id_ifile').value = "";
            {#            alert( " predict and library mode"); return true#}
            alert(message);
            stop = true;
            return true

{#        }else if (document.getElementById('id_predict_mirna').checked && document.getElementById('id_library_mode').checked) {#}
{#            document.getElementById('id_ifile').value = "";#}
            {#            alert( " predict and library mode"); return true#}
{#            alert(message);#}
{#            return true#}

		}
        if (stop==false){
            $('#spinner').modal('show');
        }


    }
    </script>

    <script>
    $('input[name="referenceDB"]').on("click", function(e) {
        x = document.getElementById("id_referenceDB_3").checked;
        if (x==false){
            document.getElementById("div_id_mirDB").style.visibility="hidden";
            document.getElementById("id_mirDB").style.visibility="hidden";
{#            document.getElementById("show-me-three").style.visibility="hidden";#}
        }
        else{
            document.getElementById("div_id_mirDB").style.visibility="visible";
            document.getElementById("id_mirDB").style.visibility="visible";
        }
{#    if (e.clientX === 0 && e.clientY === 0) {#}
{#        console.log("keyboard");#}
{#    } else {#}
{#        console.log("mouse");#}
{#    };#}
{#        alert(x)#}
});
    </script>


{% endblock %}

