{% extends "Messages/modal_template.html" %}
{% block id %}Guess_protocol{% endblock %}
{% block title %}
    Guess library preparation protocol
{% endblock %}
{% block text %}
<p> To use only if you cannot find information about which protocol was used to prepare a library or if the protocol is really unknown.</p>
<p> This method uses microRNA annotations to detect the most likely used RNA preparation protocol including random adapters and UMIs</p>

    If there is one small RNA library preparation protocol you are missing, please
    <a href="mailto:srnabench@gmail.com">contact us</a> so we can include it in sRNAbench.


{% endblock %}
