{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
{% if running %}
<meta http-equiv="refresh" content="5" >
{% endif %}
{% endblock %}



{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
{#                <h1 class="page-header">{{ tool }}</h1>#}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">



<div></div>

            <div class="col-lg-6">
            {% for msg in msgs %}
                {% if msg.type == "error" %}


                {% endif %}
            {% endfor %}
            <br>
            <a class="btn btn-default" href="{{ go_back_url }}"><i class="fa fa-arrow-left"></i>Back to the main job</a>

                <div class="panel panel-default">
                    <div class="panel-heading">
                       <i class="fa fa-tasks fa-fw"></i> Matrix generated
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        {% if error_message %}
                            <div class="alert alert-warning">
                                    <p>
                                        {{ error_message }}
                                    </p>
                                </div>
                        {% else %}
                            <a class="btn btn-default" href="{{ download_url }}" download><i class="fa fa-download"></i> Download matrix file</a>
                        {% endif %}

                        {% if file_type == "Read Length" %}
                            <a class="btn btn-success pull-right" href="javascript:void(0)" data-toggle="modal" data-target="#read_length_plot"><i class="fa fa-chart-bar"></i>Visualize</a>
                        {% endif %}



                    </div>



                    <!-- .panel-body -->
                </div>
            </div>

            <div class="col-lg-6" style="display: none;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       <i class="fa fa-chart-bar fa-fw"></i> Plot
                    </div>
            </div>
        </div>



        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->


{% endblock %}


{% block modals %}
{% include "Messages/newbench/matrix_read_length_graph.html" %}
{% endblock %}