{% extends "Messages/modal_template.html" %}
{% block id %}generate_matrix{% endblock %}
{% block title %}
    Generate matrix from sRNAbench jobs
{% endblock %}
{% block text %}



{#    <div style="display: inline-block" id="dropbox-container"></div>#}
{#    <button onclick="onApiLoad()"><i class="fab fa-google-drive"></i></button>#}
{#    <button onclick="onApiLoad()">Pick From Google Drive</button>#}

{#  AIzaSyBG_apmyiqz0PVwA6FO_GionR-e1Zz7DlI  GOOGLE API KEY  #}

<p></p>
    <p>You can generate a matrix to summarise different files from sRNAbench results. Use the selectors and buttons below to generate
    a matrix of your choice.</p>

    <div class="row">

    <label class="control-label ">
                File type<a data-toggle="modal" data-target="#quality_filter" class="btn btn-link"><i class="fa fa-question-circle"> </i></a> </label>

    <div class="col-lg-6">
        <label class="control-label ">
                Annotation file<a data-toggle="modal" data-target="#quality_filter" class="btn btn-link"><i class="fa fa-question-circle"> </i></a> </label>
        <select name="matrix_file_type" class="form-control select" id="id_matrix_file_type">
            <option value="" selected="">Read length</option>
        </select>
    </div>
    <div class="col-lg-6">
        <select name="matrix_annotation" class="form-control select" id="id_matrix_annotation">
            <option value="" selected="">miRNA</option>
        </select>
    </div>

    </div>
    <div class="row">
    <div class="col-lg-6">
        <label class="control-label ">
                Units<a data-toggle="modal" data-target="#quality_filter" class="btn btn-link"></a> </label>
        <select name="matrix_file_type" class="form-control select" id="id_matrix_file_type">
            <option value="" selected="">RPM</option>
        </select>
    </div>
    <div class="col-lg-6 pull-right">
        <label class="control-label " style="visibility: hidden;">
                Units<a data-toggle="modal" data-target="#quality_filter" class="btn btn-link"></a> </label>
        <a href="" class="btn btn-link"><button type="button" class="btn btn-success"> Generate matrix </button></a>
    </div>
    </div>






{% endblock %}
