{% extends "Messages/modal_template.html" %}
{% block id %}generate_matrix{% endblock %}
{% block title %}
    Generate matrix from sRNAbench jobs
{% endblock %}
{% block text %}



{#    <div style="display: inline-block" id="dropbox-container"></div>#}
{#    <button onclick="onApiLoad()"><i class="fab fa-google-drive"></i></button>#}
{#    <button onclick="onApiLoad()">Pick From Google Drive</button>#}

{#  AIzaSyBG_apmyiqz0PVwA6FO_GionR-e1Zz7DlI  GOOGLE API KEY  #}

<p></p>
    <p>You can generate a matrix to summarise different files from sRNAbench results. Use the selectors and buttons below to generate
    a matrix of your choice.</p>

    <div class="row">

    <label class="control-label ">
                File type<a data-toggle="tooltip" data-placement="top" title="Choose" class="btn btn-link"><i class="fa fa-question-circle"> </i></a> </label>

    <div class="col-lg-6">
        <label class="control-label ">
                Annotation file<a data-toggle="tooltip" data-placement="top" title="Choose"  class="btn btn-link"><i class="fa fa-question-circle"> </i></a> </label>
        <select name="matrix_file_type" class="form-control select matrix-selector" id="id_matrix_file_type">
            <option value="Read Length" selected="">Read length</option>
{#            <option value="" selected="">Expression file</option>#}
        </select>
    </div>
    <div class="col-lg-6">
        <select name="matrix_annotation" class="form-control select matrix-selector" id="id_matrix_annotation">
            <option value="" selected="">miRNA</option>
        </select>
    </div>

    </div>
    <div class="row">
    <div class="col-lg-6">
        <label class="control-label ">
                Units<a data-toggle="modal" data-target="#quality_filter" class="btn btn-link"></a> </label>
        <select name="matrix_unit" class="form-control select matrix-selector" id="id_matrix_unit">
            <option value="" selected="">RPM</option>
{#            <option value="" selected="">Read Count Percentage</option>#}
        </select>
    </div>
    <div class="col-lg-6 pull-right">
{#        <label class="control-label " style="visibility: hidden;">#}
{#                Units basically this just neeeds to be <a data-toggle="modal" data-target="#quality_filter" class="btn btn-link"></a> </label>#}
<br>
        <a href="javascript:void(0)" target="_blank" id="matrix_link" class="btn btn-link pull-right"><button type="button" class="btn btn-success"> Generate matrix </button></a>
    </div>
    </div>

    <script>

    var loadLink = function(e) {
        var pars = $("#id_matrix_file_type,#id_matrix_annotation,#id_matrix_unit").serialize();
        pars = pars + "&jobID={{ id }}";
        {#alert(pars);#}
            {#alert(pars);#}
        var launch_url = "{% url 'matrix_generator' %}?";
        console.log($("#id_matrix_annotation").val());
        console.log($("#id_matrix_unit").val());
        $("#matrix_link").attr("href", launch_url.concat(pars));
    };



    var loadSelectors = function(e) {

        {#alert("eyo");#}
        $.ajax({
        url: '{% url "ajax_matrix_selector" %}',
        data: {
            "id" : "{{ id }}",
             "file_type": $("#id_matrix_file_type").val(),
        },
        dataType: 'json',
        success: function (data) {
            {#alert("seems to work");#}
            console.log("succesful ajax");
            {# populate files #}


            $('#id_matrix_file_type').empty();
            for (var i = 0; i < data.filetypes.length; i++) {
                console.log(data.filetypes[i]);
                $('#id_matrix_file_type').append('<option value="' + data.filetypes[i] + '">' + data.filetypes[i] + '</option>');
            }
            $("id_matrix_file_type select").val(data.selected_type).change();

            $('#id_matrix_annotation').empty();
            for (var i = 0; i < data.files.length; i++) {
                row = data.files[i];
                {#console.log(row[0], row[1]);#}
                $('#id_matrix_annotation').append('<option value="' + row[0] + '">' + row[1] + '</option>');
            }
            $("#id_matrix_annotation").val($("#id_matrix_annotation option:first").val());
            $("#id_matrix_unit").empty();
            for (var i = 0; i < data.units.length; i++) {
                row = data.units[i];
                {#console.log(row[0], row[1]);#}
               $("#id_matrix_unit").append('<option value="' + row[0] + '">' + row[1] + '</option>');
            }
            $("#id_matrix_unit").val($("#id_matrix_unit option:first").val());
            console.log("finished populating");
            console.log($("#id_matrix_annotation").val());
            console.log($("#id_matrix_unit").val());
            loadLink();
        }
        })
    };

        $("#id_matrix_file_type").change(function() {
            loadSelectors();
        });

        $( "#generate_matrix_modal_button").click(function() {
               loadSelectors();
               loadLink();
            });

        $(".matrix-selector").change(function() {
            loadLink();
        });

    </script>

    <script>



    </script>





{% endblock %}
