{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    {#                    <h1>Helper Tools: </h1>#}
                    <h1>{{ tool }} </h1>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-9">


                <div class="well">
                    <h4>Remove Duplicates from a Fasta File and manipulate names :</h4>
                    <p>This tool can:
                    </p>
                    <ul>
                        <li>Detect and remove duplicated IDs</li>
                        <li>Detect and remove duplicated sequences</li>
                        <li>Detect and remove duplicated sequences & generate a new ID by pasting the sequence IDs that have the same sequence</li>
                        <li>Manipulate the sequences names (eliminate a certain string)</li>
                    </ul>
                    <br>
                    Consider the following input
                    <pre style="white-space: pre-line">
                        >seqA
                        ATCACTA
                        >seqA
                        CACTG
                        >seqB
                        ATCACTA
                        </pre>
                    1)Detect and rem
                    <div id="moreInfo" style="display: none;" >
                     ove duplicated IDs:
                    <pre style="white-space: pre-line">
                    Only the first ID is used, all others are ignored (not written to the output)
                    After removing duplicated IDs, the output for the above example would be:
                    >seqA
                    ATCACTA
                    >seqB
                    CACTG
                    </pre>
                    2) Detect and remove duplicated sequences
                    If this checkbox is activated, all entries with the same sequence are eliminated
                    The result for the above example would be:
                        <pre style="white-space: pre-line">
                            >seqA
                            ATCACTA
                        </pre>
                    3) Detect and remove duplicated sequences & generate a new ID by pasting the sequence IDs that have the same sequence (if this checkbox is activated → launch with mode RDG)

                    If the "paste names" checkbox is activated, the output would be:
                        <pre style="white-space: pre-line">
                            >seqA=seqB
                            ATCACTA
                        </pre>
                    4) Manipulate the sequences names (eliminate a certain string)
                    The UCSC table browser allows to obtain 3' UTR sequences which are needed when searching for microRNA target genes.
                        However the output files have the following format:
                        <pre style="white-space: pre-line">
                        >hg19_refGene_NM_001184906 range=chr17:37408897-37417712 5'pad=0 3'pad=0 strand=- repeatMasking=none
                        CAATGGAGGTGGTCAACCTTGGCGAACTGAGTATTTAATGACACTTCTAG
                        AGCTACCGTGGAGTCTCTCCAGTGGAAGCAACCCCAGTGTTCTGAGCAAG
                        </pre>
                    </div>
                    <button onclick="moreInfo()">Keep reading</button>
                    </div>



                         {% include 'form_base.html' %}


                </div>


            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Help
                        </h4>
                    </div>
                    <div class="panel-body">
                        <a href="{{ settings.MANUAL_URL }}" target="_blank">Link to Web Manual</a>

                    </div>
                </div>

            </div>


            <!-- /#page-wrapper -->
        </div>
    </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        // tooltip demo
        $('.row').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        })

    </script>

    <script>
    function moreInfo() {
    var x = document.getElementById("moreInfo");
      if (x.style.display === "none") {
        x.style.display = "block";
      }
    }
    </script>

{% endblock %}
