{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    {#                    <h1>Helper Tools: </h1>#}
                    <h1>{{tool}} </h1>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-9">

                    <div class="well">
                        <h4>NCBI Parser:</h4>
                        <p>sRNAbench can read specially prepared annotations, i.e. the transcript name and the
                            classification separated by ‘:’. The 'NCBI Parser' reads a NCBI fasta annotation file
                            and generates the sRNAbench format. In can use *.rna.fna.gz files from the following
                        <a href="ftp://ftp.ncbi.nlm.nih.gov/refseq/"> page </a>.


                        </p>

                        <p><a href="ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.1.rna.fna.gz">Link to test data</a></p>
                        <p> If you use this data please cite: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3245008/" >Kim D. Pruitt et al. (2012). NCBI Reference Sequences (RefSeq): current status, new features and genome annotation policy. Nucleic Acids Res. PMCID: PMC3245008.</a></p>

                        {% include 'form_base.html' %}
                </div>


            </div>


            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Help
                        </h4>
                    </div>
                    <div class="panel-body">
                        <a href="{{ settings.MANUAL_URL }}" target="_blank">Link to Web Manual</a>

                    </div>
                </div>

            </div>


            <!-- /#page-wrapper -->
        </div>
    </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        // tooltip demo
        $('.row').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        })

    </script>

{% endblock %}