{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Management</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#job_status">
                        Jobs Status
                    </div>
                    <div class="panel-collapse collapse in" id="job_status">
                    <div class="panel-body">
                        {{ status_plot_perc|safe }}
                        <div class="table-responsive">

                            </div>
                    </div>
                </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#job_types">
                        Jobs Types
                    </div>
                    <div class="panel-collapse collapse in" id="job_types">
                    <div class="panel-body">
                        {{ type_plot_perc|safe }}
                        <div class="table-responsive">

                            </div>
                    </div>
                </div>

                </div>

            </div>


            </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->

                </div>






            </div>


</div>


        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->


{% endblock %}


